archive/*
readings/*
psci8357_syllabus.html
psci8357_syllabus.md
psci8357_syllabus_files/*
psci8357_recitation_plan.pdf
PSCI8357_statistics_for_political_research_ii.Rproj
.Rproj.user
.RData
.Rhistory
.DS_Store
lectures/*
!lectures/.gitkeep
!lectures/01_*
!lectures/02_*
recitation_material/*
!recitation_material/.gitkeep
problem_sets/*
_data/*
!_data/.gitkeep
_images/*
!_images/.gitkeep